# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
import logging

In [2]:
logging.basicConfig(filename = 'pandas.log', level = logging.DEBUG, format = '%(asctime)s %(message)s' )
s = pd.Series(data = [4,8,15,16,23])

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
l = [9,8,7,6,5,4,3,21,0,2]
s1 = pd.Series(l)
logging.info(f'printing the serise\n{s1}')
print(s1)

0     9
1     8
2     7
3     6
4     5
5     4
6     3
7    21
8     0
9     2
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:
<img src = 'Screenshot 2023-02-26 190619.png'>

In [4]:
d = pd.DataFrame(data = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']})
logging.info(f'Printing The DataFrame\n{d}')
d

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
## Answer :-In pandas, a DataFrame is a two-dimensional tabular data structure, which consists of rows and columns, where each column can contain different data types (e.g., string, numeric, boolean). It is similar to a spreadsheet or a SQL table.

## On the other hand, a pandas.Series is a one-dimensional array-like object, which can contain any data type (e.g., string, numeric, boolean, datetime), and is labeled with an index. It can be thought of as a single column in a DataFrame.

In [5]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Emily'],
        'Age': [20, 19, 21, 18, 20],
        'GPA': [3.5, 3.2, 3.8, 3.4, 3.6]}

df = pd.DataFrame(data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Emily'],'Age': [20, 19, 21, 18, 20],'GPA': [3.5, 3.2, 3.8, 3.4, 3.6]} )
df

      Name  Age  GPA
0    Alice   20  3.5
1      Bob   19  3.2
2  Charlie   21  3.8
3     Dave   18  3.4
4    Emily   20  3.6

In [6]:
series = df['Name']
series

0      Alice
1        Bob
2    Charlie
3       Dave
4      Emily
Name: Name, dtype: object

In [7]:
logging.info(f'Printing Example of the DataFrame and Series\n{df} \n\n{series}')

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

## Answer:- There are some functions like mean(), std() etc.

In [8]:
# I use mean function when i want to know the mean value of the column
mean = df['Age'].mean()
print(mean)
logging.info(f'Printing Example of the DataFrame function=>{mean}')

19.6

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
## Answer:- In pandas, both Series and DataFrame are mutable objects, while Panel is deprecated and no longer recommended to use.

In [9]:
logging.info('In pandas, both Series and DataFrame are mutable objects')

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
salaries = pd.Series([50000, 60000, 70000])

# Creating a dictionary of Series
data = {'Name': names, 'Age': ages, 'Salary': salaries}

# Creating a DataFrame from the dictionary of Series
df1 = pd.DataFrame(data)

print(df1)
logging.info(f'Printing Example of the DataFrame created from\n{df1}')

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000